.animations-editor-page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    line-height: 0.5;
    text-align: left;

    .homepage-logo {
      width: 300px;
      cursor: pointer;
    }

    .online-text {
      display: flex;
      align-items: center;
      margin-right: 20px;

      .green-dot {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        background: #24A147;
        border-radius: 50%;
      }
    }
  }

  .animations-editor-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
  }
}